html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #e50050;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #222222;
    text-decoration: underline; }

body, a, p, h1, h2, h3, h4, h5, h6, ul, li, span {
  margin: 0;
  padding: 0; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 68em;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/**
 * Basic typography style for copy text
 */
body {
  color: #222222;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

a {
  font-size: 0.9rem;
  color: black; }
  a:hover {
    color: #ffb618;
    text-decoration: none; }

ul {
  list-style: none; }

nav {
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  nav ul {
    overflow: auto;
    padding: 0;
    width: 100%;
    text-align: center; }
  nav li {
    display: inline-block;
    list-style: none;
    padding: 2rem 1rem 2rem 0; }
  nav #logo {
    max-height: 60px;
    margin: 20px auto;
    position: absolute;
    left: 100px; }

.container {
  width: 980px;
  margin: 0 auto; }

header {
  padding: 8rem 0 0 0; }
  header .heading {
    text-align: center; }
    header .heading h1 {
      font-size: 4rem;
      font-weight: lighter;
      line-height: 1em; }
    header .heading li {
      display: inline-block;
      padding: 0 0.5rem; }
      header .heading li a {
        font-size: 0.7rem;
        font-weight: 700;
        letter-spacing: 0.02rem; }
    header .heading .category {
      font-weight: 700;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      padding: 0 0 1rem 0; }
      header .heading .category span {
        color: #ffb618; }
    header .heading .byline {
      margin: 1.5rem 0 0 0;
      font-weight: 700;
      font-size: 0.7rem;
      letter-spacing: 0.02rem;
      padding: 0 0 1rem 0; }

section {
  width: 73%; }
  section p {
    font-size: 1rem;
    font-weight: lighter;
    padding: 0 0 1rem 0;
    line-height: 1.6rem;
    letter-spacing: 0.04rem; }
  section p:nth-child(n+15) {
    padding: 0 0 6em 0; }
  section img {
    max-width: 100%; }
  section .photo-info {
    font-size: 0.5em;
    margin: 0 0 2rem 0; }
    section .photo-info .caption strong {
      font-weight: 800; }
    section .photo-info .credit {
      float: right; }

aside {
  width: 25%;
  float: right; }
  aside .recent {
    border-bottom: 1px solid #ffb618; }
  aside .entry {
    padding: 1rem 0;
    border-bottom: 1px solid #d6d6d6; }
    aside .entry img {
      width: 100%; }
    aside .entry h6 {
      font-size: 0.7rem;
      font-weight: 700;
      letter-spacing: 0.02rem;
      padding: 0 0 0.5rem 0; }
    aside .entry p {
      font-size: 0.9rem;
      font-weight: lighter; }
    aside .entry span {
      font-size: 0.5rem; }

footer p {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  width: 10rem;
  text-align: center;
  margin: 3rem auto;
  padding: 1rem;
  background-color: #ffb618;
  color: black; }
footer .input-head li {
  display: inline-block; }
footer .input-head li:last-child {
  float: right; }
footer .input-head hr:first-of-type {
  border: none;
  width: 10%;
  height: 2px;
  color: black;
  background-color: black;
  float: left; }
footer .input-head hr:last-of-type {
  border: none;
  width: 90%;
  height: 2px;
  color: gray;
  background-color: gray;
  float: right; }
footer .input-head form img {
  float: left; }
footer .input-head form textarea {
  float: right;
  width: 94%;
  height: 10em;
  border: 2px solid #c6c6c6; }

/*# sourceMappingURL=application.css.map */
