html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

/**
 * Basic styles for links
 */
a {
  color: #e50050;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #222222;
    text-decoration: underline; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 68em;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/**
 * Basic typography style for copy text
 */
body {
  color: #222222;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

a {
  font-size: 0.9rem;
  color: black; }
  a:hover {
    color: #ffb618;
    text-decoration: none; }

ul {
  list-style: none; }

hr {
  background-color: #80939D; }

.callout {
  font-style: italic;
  font-family: serif;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #999999;
  margin: 2rem 0; }

nav {
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  height: 5rem;
  margin: 0 auto; }
  nav ul {
    overflow: auto;
    padding: 0;
    text-align: center;
    float: left;
    margin: 0 0 0 8rem; }
  nav li {
    display: inline-block;
    list-style: none;
    padding: 1.5rem 0.6rem 0rem 0; }
    nav li:nth-child(7) {
      padding: 0 0 0 4rem; }
    nav li a {
      font-weight: 800;
      font-size: 0.8rem;
      letter-spacing: 0.06rem; }
  nav #logo {
    margin: 0.8rem 0 auto 0;
    max-height: 54px;
    float: left; }
  nav #mag {
    float: right; }

.container {
  width: 980px;
  margin: 0 auto; }

.container-extra {
  max-width: 1080px;
  margin: 0 auto; }

header {
  padding: 8rem 0 0 0;
  margin: 0 0 2rem 0;
  text-align: center; }
  header h1 {
    font-size: 4rem;
    font-weight: lighter;
    line-height: 1em; }
  header hr {
    color: #80939D;
    height: 1px;
    border: none; }
  header li {
    display: inline-block;
    padding: 0 0.5rem 0.4rem 0; }
    header li a {
      padding: 0;
      font-size: 0.7rem;
      font-weight: 700;
      letter-spacing: 0.02rem; }
  header .category {
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    padding: 0 0 1rem 0; }
    header .category span {
      color: #ffb618; }
  header .byline {
    margin: 1.5rem 0 0 0;
    font-weight: 700;
    font-size: 0.7rem;
    letter-spacing: 0.02rem;
    padding: 0 0 1rem 0; }

section {
  width: 73%; }
  section p {
    font-size: 1rem;
    font-weight: lighter;
    padding: 0 0 1rem 0;
    line-height: 1.6rem;
    letter-spacing: 0.04rem; }
    section p .cap-start {
      color: #ffb618; }
  section p:nth-child(n+15) {
    padding: 0 0 6em 0; }
  section img {
    max-width: 100%;
    height: 100vh; }
  section .photo-info {
    font-size: 0.5em;
    margin: 0 0 2rem 0; }
    section .photo-info .caption strong {
      font-weight: 800; }
    section .photo-info .credit {
      float: right; }

aside {
  width: 25%;
  float: right; }
  aside .recent {
    border-bottom: 1px solid #ffb618; }
  aside .entry {
    padding: 1rem 0;
    border-bottom: 1px solid #d6d6d6; }
    aside .entry img {
      width: 100%; }
    aside .entry h6 {
      font-size: 0.7rem;
      font-weight: 700;
      letter-spacing: 0.02rem;
      padding: 0 0 0.5rem 0; }
    aside .entry p {
      font-size: 0.9rem;
      font-weight: lighter; }
    aside .entry span {
      font-size: 0.5rem; }

footer .join p {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  width: 10rem;
  text-align: center;
  margin: 3rem auto 6rem auto;
  padding: 1rem;
  background-color: #ffb618;
  color: black; }
footer .input-head {
  margin: 0 0 2rem 0; }
  footer .input-head li:first-child {
    color: black;
    margin: 0 1rem 0 0; }
  footer .input-head li {
    font-size: 1rem;
    display: inline-block;
    color: #80939D; }
  footer .input-head li:last-child {
    float: right; }
  footer .input-head hr:first-of-type {
    border: none;
    width: 11%;
    height: 2px;
    color: black;
    background-color: black;
    float: left; }
  footer .input-head hr:last-of-type {
    border: none;
    width: 89%;
    height: 2px;
    background-color: #80939D;
    float: right; }
  footer .input-head form {
    margin: 1rem 0 0 0; }
    footer .input-head form img {
      float: left; }
    footer .input-head form textarea {
      float: right;
      width: 94%;
      height: 3rem;
      border: 2px solid #80939D;
      border-radius: 0.4rem; }
  footer .input-head p {
    color: #a6a9ab;
    font-size: 1rem;
    margin: 8rem 0 0 0;
    text-align: center; }

/*# sourceMappingURL=application.css.map */
