/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

a {
  font-size: 0.9rem;
  color: black;
  &:hover {
    color: $yellow-prim;
    text-decoration: none;
  }
}

ul {
  list-style: none;
}
hr {
  background-color: $color-pale-gray;
}
.callout {
  font-style: italic;
  font-family: serif;
  font-size: 2rem;
  line-height: 2.2rem; 
  color: #999999;
  margin: 2rem 0;
}
